/*Navigation buttons on master page*/
ul.topNavigation 
{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
    font-family:Calibri
}

ul.topNavigation li 
{
    float: left;
}

ul.topNavigation li a 
{
    display: inline-block;
    text-align: center;
    color:black;
    padding:10px 12px;
    text-decoration:none;
    transition:0.5s;
    font-size:30px;
}

ul.topNavigation li a:hover 
{
    background-color:lightgray;
}

/*Title bar of master*/
#TitleBar
{
    font-family:Calibri;
    font-size:80px;
    color:dimgrey;
}

/*Login web form*/
.loginform 
{
    font-family: Calibri;
    font-size: 22px;
}

/*Buttons on home page*/
.HomeButtons
{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
    font-family:Calibri
}

.HomeButtons li 
{
    float: left;
}

.HomeButtons li a
{
    display: inline-block;
    text-align: center;
    color:white;
    padding:10px 12px;
    text-decoration:none;
    border:solid;
    background-color:black;
    transition:0.5s;
    font-size:50px;
}

.HomeButtons 
{
    display: inline-block;
    text-align: center;
    color:white;
    padding:10px 12px;
    text-decoration:none;
    border:solid;
    background-color:black;
    transition:0.5s;
    font-size:50px;
}

.HomeBody p
{
    font-family: Calibri;
    font-size: 22px;
    max-width:300px;
}

.HomeTitle
{
    font-family:Calibri;
    font-size:70px;
    color:dimgrey;
}

/*Buttons on profile page*/
ul.ProfileButtons 
{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
    font-family:Calibri;
    float:left;
}

/*Buttons on character creation page*/
ul.CharacterButtons 
{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
    font-family:Calibri;
    float:left;
}

/*Buttons on Battle page*/
ul.BattleButtons 
{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
    font-family:Calibri;
    float:left;
}

body
{
    margin:50px;
    padding: 20px 20px;
    font-family: Calibri;
    font-size: 22px;
    
}

.registerform
{
    font-family: Calibri;
    font-size: 22px;
}
