/*Navigation buttons on master page*/
ul.topNavigation 
{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
    font-family:Calibri
}

ul.topNavigation li 
{
    float: left;
}

ul.topNavigation li a 
{
    display: inline-block;
    text-align: center;
    color:black;
    padding:10px 12px;
    text-decoration:none;
    transition:0.5s;
    font-size:30px;
}

ul.topNavigation li a:hover 
{
    background-color:lightgray;
}

/*Title bar of master*/
#TitleBar
{
    font-family:Calibri;
    font-size:80px;
    color:dimgrey;
}

/*Login web form*/
.loginform 
{
    font-family: Calibri;
    font-size: 22px;
}

/*Buttons on home page, also used on all buttons on pages to keep consistent*/
.HomeButtons
{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
    font-family:Calibri
}

.HomeButtons li 
{
    float: left;
}

.HomeButtons li a
{
    display: inline-block;
    text-align: center;
    color:white;
    padding:10px 12px;
    text-decoration:none;
    border:solid;
    background-color:black;
    transition:0.5s;
    font-size:50px;
}

.HomeButtons 
{
    display: inline-block;
    text-align: center;
    color:white;
    padding:10px 12px;
    text-decoration:none;
    border:solid;
    background-color:black;
    transition:0.5s;
    font-size:50px;
}

/*Body of the Home page*/
.HomeBody p
{
    font-family: Calibri;
    font-size: 22px;
    max-width:300px;
}

/*Title of home page*/
.HomeTitle
{
    font-family:Calibri;
    font-size:70px;
    color:dimgrey;
}

/*General body styling to keep pages consistent*/
body
{
    margin:50px;
    padding: 20px 20px;
    font-family: Calibri;
    font-size: 22px;
    
}

/*style for register form*/
.registerform
{
    font-family: Calibri;
    font-size: 22px;
}
